fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy[asyncio]==2.0.36
asyncmy==0.2.9
pydantic==2.10.4
pydantic-settings==2.7.0
PyJWT==2.10.1
minio==7.2.12
redis==5.2.1
python-multipart==0.0.18
prometheus-client==0.21.1
prometheus-fastapi-instrumentator==7.0.2
aiokafka==0.10.0
cryptography==41.0.7
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
