# ============================================
# CloudVault — Environment Configuration
# ============================================

# ── MySQL ──
MYSQL_ROOT_PASSWORD=cloudvault_mysql_root_2026
MYSQL_DATABASE=cloudvault
MYSQL_USER=cloudvault
MYSQL_PASSWORD=cloudvault_pass

# ── Redis ──
REDIS_PASSWORD=cloudvault_redis_2026
REDIS_URL=redis://:cloudvault_redis_2026@redis:6379/0

# ── MinIO (S3-compatible Object Storage) ──
MINIO_ROOT_USER=cloudvault_admin
MINIO_ROOT_PASSWORD=cloudvault_minio_2026
MINIO_ENDPOINT=minio:9000
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_FILES=cloudvault-files
MINIO_BUCKET_THUMBNAILS=cloudvault-thumbnails
MINIO_BUCKET_AVATARS=cloudvault-avatars

# ── Kafka ──
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_FILE_EVENTS=file-events
KAFKA_TOPIC_USER_EVENTS=user-events

# ── Elasticsearch ──
ELASTICSEARCH_URL=http://elasticsearch:9200

# ── JWT ──
JWT_SECRET_KEY=cloudvault-jwt-secret-key-change-me-in-production-2026
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# ── Nginx ──
NGINX_PORT=80

# ── Service URLs (for inter-service communication) ──
AUTH_SERVICE_URL=http://auth-service:8000
FILE_SERVICE_URL=http://file-service:8000
METADATA_SERVICE_URL=http://metadata-service:8000
